/* body{
  margin : 0;
  padding :0;
  box-sizing: border-box;
  overflow: hidden;
  
} */
.sidebar{
  height: 100vh;
  background: rgb(2, 51, 65);
  width: 16%;
}

.survey_list {
  margin-block:120px ;
  list-style: none;
}

.survey__item {
  padding-block: 20px ;
  color: #fff;
}
.main {
  width: 84%;
  height: 100vh;
  background: #fffefe;
}
.container {
  display: flex;
  position: relative;
}
/* 
.create {  
  display: flex;
  flex-direction: column;
  position: absolute; 
  left: 50%;
  transform:  translateX(-40%);
  padding: 25px;
  gap: 25px;
}

.create__input {
  width:200%;
  height: 45px;
  margin-left: -50%;
  border: none;
  background: #eceaea;
}

.create__add_btn  {
  width: 50%;
  margin-right: 50%;
} */